*.zip filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
books/Street[[:space:]]Coder[[:space:]]The[[:space:]]rules[[:space:]]to[[:space:]]break[[:space:]]and[[:space:]]how[[:space:]]to[[:space:]]break[[:space:]]them[[:space:]](Final[[:space:]]Release)[[:space:]](Sedat[[:space:]]Kapanoglu)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
books/The[[:space:]]Pragmatic[[:space:]]Programmer[[:space:]]Your[[:space:]]Journey[[:space:]]to[[:space:]]Mastery[[:space:]](David[[:space:]]Thomas,[[:space:]]Andrew[[:space:]]Hunt)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
books/Acing[[:space:]]the[[:space:]]Data[[:space:]]Science[[:space:]]Interview[[:space:]](MEAP)[[:space:]](Dan[[:space:]]Sanz)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
books/Clean[[:space:]]Code[[:space:]]In[[:space:]]Python_[[:space:]]refactor[[:space:]]your[[:space:]]legacy[[:space:]]code[[:space:]]base[[:space:]](Mariano[[:space:]]Anaya).pdf filter=lfs diff=lfs merge=lfs -text
books/Graph[[:space:]]Analysis[[:space:]]and[[:space:]]Visualization[[:space:]]Discovering[[:space:]]Business[[:space:]]Opportunity[[:space:]]in[[:space:]]Linked[[:space:]]Data[[:space:]](Richard[[:space:]]Brath,[[:space:]]David[[:space:]]Jonker)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
books/Parallel[[:space:]]and[[:space:]]High[[:space:]]Performance[[:space:]]Computing[[:space:]](Robert[[:space:]]Robey,[[:space:]]Yuliana[[:space:]]Zamora)[[:space:]](Z-Library)[[:space:]](1).pdf filter=lfs diff=lfs merge=lfs -text
books/Software[[:space:]]Engineering[[:space:]]for[[:space:]]Data[[:space:]]Scientists[[:space:]](MEAP[[:space:]]V04)[[:space:]](Andrew[[:space:]]Treadway)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
books/Computer[[:space:]]Vision[[:space:]]Using[[:space:]]Deep[[:space:]]Learning[[:space:]]Neural[[:space:]]Network[[:space:]]Architectures[[:space:]]with[[:space:]]Python[[:space:]]and[[:space:]]Keras[[:space:]](Vaibhav[[:space:]]Verdhan)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
books/Cracking[[:space:]]the[[:space:]]Coding[[:space:]]Interview[[:space:]](Gayle[[:space:]]Laakmann[[:space:]]McDowell)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
books/Five[[:space:]]Lines[[:space:]]of[[:space:]]Code[[:space:]]How[[:space:]]and[[:space:]]when[[:space:]]to[[:space:]]refactor[[:space:]](Christian[[:space:]]Clausen)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
books/Software[[:space:]]Engineering[[:space:]]for[[:space:]]Data[[:space:]]Scientists[[:space:]](Early[[:space:]]Release)[[:space:]](Catherine[[:space:]]Nelson)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
books/A[[:space:]]Philosophy[[:space:]]of[[:space:]]Software[[:space:]]Design[[:space:]](John[[:space:]]Ousterhout)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
books/Clean.Code.A.Handbook.of.Agile.Software.Craftsmanship.pdf filter=lfs diff=lfs merge=lfs -text
books/High[[:space:]]Performance[[:space:]]Computing[[:space:]](Thomas[[:space:]]Sterling[[:space:]]etc.)[[:space:]](Z-Library)[[:space:]](1).pdf filter=lfs diff=lfs merge=lfs -text
books/Schaums[[:space:]]Outline[[:space:]]of[[:space:]]Theory[[:space:]]and[[:space:]]Problems[[:space:]]of[[:space:]]Graph[[:space:]]Theory[[:space:]](Balakrishnan[[:space:]]V.)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
books/Good[[:space:]]Code,[[:space:]]Bad[[:space:]]Code[[:space:]]Think[[:space:]]like[[:space:]]a[[:space:]]software[[:space:]]engineer[[:space:]](Tom[[:space:]]Long)[[:space:]](Z-Library).pdf filter=lfs diff=lfs merge=lfs -text
lectures/011-nlp/labs/coursera-natural-language-processing-specialization/1[[:space:]]-[[:space:]]Natural[[:space:]]Language[[:space:]]Processing[[:space:]]with[[:space:]]Classification[[:space:]]and[[:space:]]Vector[[:space:]]Spaces/tmp2/corpora/twitter_samples/tweets.20150430-223406.json filter=lfs diff=lfs merge=lfs -text
